body {
  font-family: Arial;
  background: #eef2f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 25px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
}

input {
  width: 90%;
  margin: 10px 0;
  padding: 10px;
}
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
